/* app.css */

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  overflow: auto;
}
/* Headings */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* Buttons */
button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #4b5563; /* Tailwind's gray-700 */
  transform: scale(1.05);
}

/* Links */
a {
  transition: color 0.3s ease;
}

a:hover {
  color: #2563eb; /* Tailwind's indigo-600 */
}

/* app.css */

/* Ensure body and canvas have appropriate styling */
/* app.css */

/* Ensure body takes up the full viewport and has a black background */

/* Ensure canvas takes up the full viewport and is not distorted */
canvas {
  display: block;
}

/* Style for the particles container */

.snowflake {
  --size: 1vw;
  background: url('https://github.com/Jay-1409/Jay_Shah_Portfolio/blob/main/public/Static/Images/SnowFlake.png?raw=true') no-repeat center center;
  width: calc(4*var(--size));
  height: calc(4*var(--size));
  background-size: cover; /* Use 'cover' if you want to cover the entire area */
  position: absolute;
  top: -5vh;
  z-index: 9999;
  animation: snowfall 100s linear infinite; /* Add animation property if not already present */
}


@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 395vh, 0); 
  }
}

.snowflake:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 55vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 63vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 17vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 10vw;
  left: 66vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 39vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(6) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 86vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(7) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 7vw;
  left: 87vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(8) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 3vw;
  left: 77vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(9) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 50vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(10) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(11) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 29vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 100vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -2vw;
  left: 86vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: -1vw;
  left: 18vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(15) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: 10vw;
  left: 35vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(16) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -5vw;
  left: 23vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(17) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 89vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(18) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 6vw;
  left: 33vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 26vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 75vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(21) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -7vw;
  left: 81vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(22) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -7vw;
  left: 75vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(23) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 28vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(24) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 8vw;
  left: 17vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 5vw;
  left: 29vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 19vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(27) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 71vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(28) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: 5vw;
  left: 96vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(29) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -5vw;
  left: 67vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(30) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 14vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(31) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: -6vw;
  left: 38vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -3vw;
  left: 96vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(33) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(34) {
  --size: 0.6vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 73vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(35) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 53vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(36) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 62vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 8vw;
  left: 47vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(38) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 4vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(39) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -2vw;
  left: 29vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(40) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -6vw;
  left: 65vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(41) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 52vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(42) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 48vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 44vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 20vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 7vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(46) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 63vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(47) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 19vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(48) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 47vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(49) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -1vw;
  left: 43vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 7vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

/* src/index.css or any global CSS file */


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
  position: relative;
  font-size: 5vmin;
  font-family: 'Staatliches', sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px tomato;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  width: 800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em);
  }
  0% { 
    opacity: 0; 
    filter: blur(10px);
  }
  100% { 
    opacity: 1; 
    filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

* { box-sizing: border-box }

html {
  margin: 0;
  background: black;
  color: yellow;
  height: 100%;
}

.flowerfall {
  --size: 1vw;
  background: url('https://github.com/Jay-1409/Jay_Shah_Portfolio/blob/main/public/Static/Images/FlowerFall.png?raw=true') no-repeat center center;
  width: calc(4*var(--size));
  height: calc(4*var(--size));
  background-size: cover; /* Use 'cover' if you want to cover the entire area */
  position: absolute;
  top: -5vh;
  z-index: 9999;
  animation: snowfall 100s linear infinite; /* Add animation property if not already present */
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 395vh, 0); 
  }
}

.flowerfall:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 55vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 63vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 17vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 10vw;
  left: 66vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 39vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.flowerfall:nth-child(6) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 86vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(7) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 7vw;
  left: 87vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.flowerfall:nth-child(8) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 3vw;
  left: 77vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(9) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 50vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(10) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(11) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 29vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 100vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -2vw;
  left: 86vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.flowerfall:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: -1vw;
  left: 18vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(15) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: 10vw;
  left: 35vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(16) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -5vw;
  left: 23vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.flowerfall:nth-child(17) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 89vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(18) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 6vw;
  left: 33vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(19) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 26vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 75vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(21) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -7vw;
  left: 81vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(22) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -7vw;
  left: 75vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(23) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 28vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(24) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 8vw;
  left: 17vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.flowerfall:nth-child(25) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 5vw;
  left: 29vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 19vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(27) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 71vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(28) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: 5vw;
  left: 96vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(29) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -5vw;
  left: 67vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(30) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 14vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(31) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: -6vw;
  left: 38vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(32) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -3vw;
  left: 96vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(33) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(34) {
  --size: 0.6vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 73vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.flowerfall:nth-child(35) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 53vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.flowerfall:nth-child(36) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 62vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(37) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 8vw;
  left: 47vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.flowerfall:nth-child(38) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 4vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.flowerfall:nth-child(39) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -2vw;
  left: 29vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(40) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -6vw;
  left: 65vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.flowerfall:nth-child(41) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 52vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(42) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 48vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(43) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 44vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 20vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(45) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 7vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(46) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 63vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.flowerfall:nth-child(47) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 19vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(48) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 47vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.flowerfall:nth-child(49) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -1vw;
  left: 43vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.flowerfall:nth-child(50) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 7vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

/* added small blur every 6 flowerfalls*/
.flowerfall:nth-child(6n) {
  filter: blur(1px);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arvo", sans-serif;
}


.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glass-panel {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #f1faee;
  font-size: 2rem;
}

.roller {
  height: 9.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d3557;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #a8dadc;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}

